# Ignore LaTeX compilation files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.nav
*.snm
*.synctex.gz
*.fls
*.fdb_latexmk
*.dvi
*.ps

# Ignore other intermediate files
*.synctex(busy)

# Ignore backup files
*.bak
*.backup
*~

# Ignore any specific files you don't want to track
# !examplefile.txt
*.DS_Store

# Allow PDF files
!*.pdf
